<!doctype html>

<html>

<head>
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<title>Go Go Diet</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap --> 
	<link href="/css/bootstrap.css" rel="stylesheet"> 


</head>
	

<body>
	<div id="weightInfo">
		<div id ="headerInfo">
			<div id = "headerInfo-1">Weight</div>
			<div id = "headerInfo-2">Unit: Kg</div><br>
			<div id = "headerInfo-3"></div>
		</div>
		<br>
		<div id = "bodyNumInfo">
			<div id = "bodyInfo-1">Current Weight: </div>
			<div class = numInfo id = "numInfo-1"> 60.5 </div>
			<div id = "bodyInfo-2">Already Lost: </div>
			<div class = numInfo id = "numInfo-2"> 2.5 </div>
			<div id = "bodyInfo-3">Goal: </div>
			<div class = numInfo id = "numInfo-3"> 50 </div>
		</div>
	</div>

	<div id ="healthRecord">
		<div id = "healthTitle">Health Record</div>
		<div id = "kcalLeft"> Calories Left: </div>
		<div id = "kcalLeftNum"> 205 KCal </div> <br>
		<hr>
		<div id = "bfast"> Breakfast: </div>
		<div id = "bfastNum"> 280 KCal </div> <br>
		<div id = "lunch"> Lunch: </div>
		<div id = "lunchNum"> 920 KCal </div> <br>
		<div id = "dinner"> Dinner: </div>
		<div id = "dinnerNum"> - KCal </div> <br>
		<div id = "snack"> Snacks/Others: </div>
		<div id = "snackNum"> - KCal </div> <br>
		<hr>
		<div id = "excr">Exercise: </div>
		<div id = "excrNum"> - KCal </div> <br>
		<hr>
		<a id = "moreDetails" href="secondPage">More Details >> </a>
		<br>
		<a id = "countKcal" href="count">What should be your calorie intake?>> </a>
		<br>
	</div>

</body>
</html>
