<!doctype html>

<html>

<head>
	<title>Go Go Diet</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap --> 
	<link href="/css/bootstrap.css" rel="stylesheet">      
</head>
<body>
	<a id = "backbutton" href="/">Back</a>
	<br>
	<div id = "kcalInfo">
		<div id ="kcalLeft">Calories Left: </div>
		<div id = "kcalLeftNum"> 205 KCal</div> <br>
		<div id ="consumed">Calories Consumed: </div>
		<div id = "consumedNum"> 1248 KCal </div> <br>
		<div id ="excr">Calories Exercised: </div>
		<div id = "excrNum"> 90 KCal </div> <br>
	</div>
	<div id = "bfastTotal">
		<div id = "bfastTitle"> Breakfast </div>
		<div id = "bfastSuggestion"> Suggest 337-407 KCal </div>
		<div id = "bfastKCal"> 280 Kcal </div>
		<br>
		<hr>
		<div class = "bfastItem">
			<div class = "food"> Banana </div>
			<div class = "foodKcal"> 115 KCal </div><br>
			<div class = "food"> Oatmeal </div>
			<div class = "foodKcal"> 165 KCal </div><br>
		</div>
		<br>
	</div>
	<div id = "lunchTotal">
		<div id = "lunchTitle"> Lunch </div>
		<div id = "lunchSuggestion"> Suggest 400-800 KCal </div>
		<div id = "lunchKCal"> 400 Kcal </div>
		<br>
		<hr>
		<div class = "lunchItem">
			<div class = "food"> Chicken Sandwich </div>
			<div class = "foodKcal"> 200 KCal </div><br>
			<div class = "food"> Light Mayonnaise </div>
			<div class = "foodKcal"> 200 KCal </div><br>
		</div>
		<br>
	</div>
	<div id = "dinnerTotal">
		<div id = "dinnerTitle"> Dinner </div>
		<div id = "dinnerSuggestion"> Suggest 800-1000 KCal </div>
		<div id = "dinnerKCal"> 920 KCal </div>
		<br>
		<hr>
		<div class = "dinnerItem">
			<div class = "food"> Beef Steak </div>
			<div class = "foodKcal"> 700 KCal </div><br>
			<div class = "food"> Mayo Salad </div>
			<div class = "foodKcal"> 220 KCal </div><br>
		</div>
		<br>
	</div>
	<br>
	<div id = "buttonAdd">
		<div id = "buttonDesc">What do you want to add?</div><br>
		<button id = "addFood" class="btn">Breakfast</button><br>
		<button id = "addLunch" class="btn">Lunch</button><br>
		<button id = "addDinner" class="btn">Dinner</button><br>
		<button id = "addSnacks" class="btn">Snack</button><br>
		<button id = "addExcr" class="btn">Exercise</button><br>
	</div>
</body>